body {
    background-color: #E8EBEF;
    font-family: sans-serif;
  }
  
  
  
  .header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    /* border-bottom: 0.1rem solid; */
  }
  
  
  

  .header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  }
  
  
  
  .header a.logo {
  font-size: 25px;
  font-weight: bold;
  }
  
  
  .header-right {
    float: right;
  }
  
  img {
    width: 6%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .side-text {
      flex: 30%;
      background-color: #f1f1f1;
      padding: 20px;
      border-bottom: 0.1rem solid #14213d;
  }
  /* main flex changes the white side  */
  .main-status {
      flex: 30%;
      background-color: white;
      padding: 20px;
      text-align: center;
  }
  
  
  .servermesssage {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-left: 40px;
      margin-right: 40px;
  }
  
  /* new  */
  
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  /*  shutdown, update, maintenance, server problem */
  .servermesssage-update {
    display: none;
  }
  
  .servermesssage-shutdown {
    display: none;
  }
  
  .servermesssage-maintenance {
    display: none;
  }
  
  .servermesssage-serverproblem {
    display: none;
  }
  
  
  
  
  /* End of the server status */
  
  

/* about top  */
.abouttop {
    text-align: center;
    margin-top: 0.3rem;
    overflow: hidden;
    background-image: linear-gradient(to left, red, orange 50%);
  }
  
  
  /* profil box */
  .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0px;
  }
  
  .card {
    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* end of the profil box */
  
  /* person name  */
  .name {
    text-align: center;
    border-bottom: black solid 0.01rem;
  }
  
  /* rank */
  .title {
    text-align: center;
  }
  
  
  /* Text */
  .text {
    text-align: center;
  }
  
  img.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /* footer */
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 7rem;
    width: 100%;
    background-color: lightgreen;
    color: black; 
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
}

.profil {
    margin: 30px;
    flex: 30%;
    padding: 20px;
    background: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
}

.profil-box {
    text-align: center;
}


.profil-picture {
    border: 3px solid;
}


.profil-status {
    border: none;
    background-color: lightgray;
    margin: 30px;
    flex: 30%;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.status-online {
    text-align: center;
}
  


/* block the nav link */
.invalid {
    display: none;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table {
    margin: 3rem 14rem 8rem 0rem;
    width: 100%;
    background-color: #dcdcdc;
}

.fleet-box {
    border: 3px solid ;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


body {
	background: url(/Nettsider/flightweek/pages/login/second.jpg);
	
}

*{
	text-align: center;
	padding: 5px;
}

li {
	list-style-type: none;
	text-align: center;
	padding-bottom: 5%;
}

input {
	background-color: #333;
	border: none;
	border-radius: 2px;
	text-align: left;
	color: white;
}

h1 {
	font-family: sans-serif;
	color: #F07334
}

.container {
	font-family:  sans-serif;
	border: 2px solid #F07334;
	width: 24%;
	text-align:  center;
	margin: auto;
	border-radius: 12px;
	background-color: white;
	padding-bottom: 10px;
	-webkit-box-shadow: 3px 0px 10px 0px black;
	-moz-box-shadow: 3px 0px 10px 0px black;
	box-shadow: 3px 0px 10px 0px black;

}

.submit {
	background-color: transparent;
	color: black;
	border: 1px solid black;
	width: 50%;
	font-family: sans-serif;
	font-size: 18px;
	transition: 0.9s ease;
	text-align: center;
}

.submit:hover {
	background-color: #F07334;
	color: black;
	border: 1px solid black;
	font-family: sans-serif;
	font-size: 12px;

}

.password, .username {
width: 50%;

}

body {
	background-color: #333;
}

body {
    background-color: hsl(0,0%,96%);
}
.coming {
    border: 0.03rem solid;
    margin: 15rem 20rem 0rem 20rem;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration-line: underline;
    font-family: sans-serif;
    box-shadow: 3px 3px 3px 0px #424242;
    display: flow-root;
    border-style: none;
}