body {
    background-color: #DDDDDD;
}

header {
    background: aqua;
    border-bottom: 0.1rem solid;
    border-top: 0.05rem solid;
    border-left: 0.09rem solid;
    border-right: 0.09rem solid;
    text-align: center;
}

nav {
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: #ffe4e4;
    border: 0.05rem solid;
    padding: 0.2rem;
    display: inline-block;
}

